<div class="jumbotron">
    <h1 class="display-4 text-center">Liquidacion Empleados</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                <strong>Agregar Empleado</strong>  
            </h6>
            <app-empleado></app-empleado>           
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
             <strong> lista Empleados</strong> 
            </h6>            
                <app-lista></app-lista>
            </div>
            
    </div>
</div>