/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid {
    border-color: rgb(226, 43, 43);
}
input.ng-valid:not(id="1"){
    border-color: rgb(22, 180, 17);
}
.green-icon{
    color: chartreuse;
}
.red-icon{
    color:crimson
}